.pos_symbol_btn{
 background-color: #e9ecef !important;
 }
.pos_backspace_btn{
 background-color: #ee2d2d !important;
 }
 .pos_price_btn{
     background-color: #28a745 !important;

}
 .pos_disc_btn{
 
    background-color: orange !important;
 
}
 
 .pos_qty_btn{
 
    background-color: #4260f9 !important;
 
    }